.mainContainer{
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.BackButton{
    width: 230px;
    height: 45px;
    background-color: rgb(2, 203, 2);
    border-radius: 20px;
    border: 2px solid rgb(54, 54, 54);
}

.button{
    padding: 50px;
}

